@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway/Raleway-VariableFont_wght.ttf') format('truetype'),
    url('../fonts/raleway/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
}

p, label, input {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F9F9F9;
}

header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #FFFFFF;
    padding: 0 20px;
    align-items: center;
    border-radius: 0 0 20px 20px;
    border-bottom: #E8E8E8 1px solid;
    box-shadow: #00000025 0 0 10px 0px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 1.50rem;
    font-weight: bold;
}

.logo a {
    color: #000000;
    text-decoration: none;
}

.header_utilities {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header_search form {
    display: flex;
    align-items: center;
    gap: 10px;
}

input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
  }
input[type='submit'], .load_file {
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    width: auto;
}

.search_input {
    width: 18.8vw;
    min-height: 20px;
    max-height: 3.7vh;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    stroke-width: 0.06rem;
    letter-spacing: -0.06rem;
    line-height: 1.25rem;
    margin: 0;
    padding: 0.5vh 10px;
    border: 1px #404040 solid;
    background-color: #fff;
}

.header_search form button{
    background-image: url('../img/search.svg');
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    outline: none;
    width: 28px;
    height: 28px;
}

.header_user_icon img {
    display: flex;
}

.user_icon {
    border-radius: 100px;
    width: 32px;
    height: 32px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 50px 20px 0 20px;
}

.left_colmn {
    width: 13.5vw;
    height: calc(99vh - 104px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 50px;
}

.index_nav ul{
    list-style: none;
    padding-left: 0;
}

.index_nav ul li {
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 15px;
    padding: 1.4vh 0.3vw;
}

.index_nav ul li img {
    width: 24px;
    height: 24px;
}

.index_nav ul li a {
    display: flex;
    text-decoration: none;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1.00rem;
    letter-spacing: -0.06rem;
}

.select {
    background-color: #E8EAED;
    border-radius: 5px;
}

.commercial_text {
    color: #828282;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    letter-spacing: -0.06rem;
    align-items: end;
    padding-bottom: 36px;
}

.right_colmn {
    margin: 0 auto;  
}

.posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.post_card {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: #E8E8E8 2px solid;
    width: 18.75vw;
    height: fit-content;
}

.post_image {
    border-radius: 10px 10px 0 0;
}

.post_card_content {
    padding: 10px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.post_card_about {
    display: flex;
    gap: 10px;
}

.post_card_about_text {
    display: flex;
    flex-direction: column;
}

.post_card_about_text h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.88rem;
    letter-spacing: -2%;
}

.post_card_about_text p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: -0.06rem;
    font-size: 0.75rem;
}

.post_title {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: -0.06rem;
    font-size: 1.00rem;
}

.post_text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    letter-spacing: -0.02rem;
    font-size: 0.75rem;
    color: #828282;
}

.conteiner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40vw;
}
.horisontal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (min-width: 1440px) and (max-width: 2560px) {
    .index_nav ul li a {
        width: 13.75vw;
    }
    header {
        height: 3.75vw;
    }
    .search_input{
        height: 30px;
    }
    .post_card{
        width: 15.75vw;
    }
    .posts {
        grid-template-columns: repeat(4, 1fr);
    }
    .search_input {
        visibility: visible;
    }
}

@media (min-width: 1024px) and (max-width: 1440px) {
    .index_nav ul li a {
        visibility: hidden;
    }
    .commercial_text {
        visibility: hidden;
    }
    .left_colmn {
        width: 36px;
    }
    .post_text {
        font-size: 0.66rem;
    }
    .post_card_about_text p {
        font-size: 0.65rem;
    }
    .post_card_about_text h4 {
        font-size: 0.78rem;
    }
    .posts {
        grid-template-columns: repeat(3, 1fr);
    }
    .post_card{
        width: 0.75vw;
    }
    .search_input {
        visibility: visible;
    }
    .post_title {
        font-size: 0.89rem;
    }

    .post_card {
        width: 22.75vw;
    }
    .search_input {
        visibility: visible;
    }
    .conteiner {
        width: 40vw;
    }
}


@media (min-width: 425px) and (max-width: 1024px) {
    .index_nav ul li a {
        visibility: hidden;
    }
    .commercial_text {
        visibility: hidden;
    }
    .left_colmn {
        width: 36px;
    }
    .post_text {
        font-size: 0.56rem;
    }
    .post_card_about_text h4 {
        font-size: 0.68rem;
    }
    .user_icon {
        width: 24px;
        height: 24px;
    }
    .posts {
        grid-template-columns: repeat(3, 1fr);
    }
    .post_card_about_text p {
        font-size: 0.65rem;
    }

    .post_title {
        font-size: 0.89rem;
    }

    .post_card {
        width: 24vw;
    }
    .search_input {
        visibility: hidden;
    }
    .conteiner {
        width: 75vw;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .index_nav ul li a {
        visibility: hidden;
    }
    .commercial_text {
        visibility: hidden;
    }
    .left_colmn {
        visibility: hidden;
        position: absolute;
    }
    .post_text {
        font-size: 0.56rem;
    }

    .post_card_about_text h4 {
        font-size: 0.68rem;
    }

    .user_icon {
        width: 24px;
        height: 24px;
    }
    .posts {
        grid-template-columns: repeat(2, 1fr);
    }
    .post_card_about_text p {
        font-size: 0.65rem;
    }

    .post_title {
        font-size: 0.89rem;
    }

    .post_card {
        width: 45vw;
    }

    header {
        height: 76px;
    }

    .search_input {
        visibility: hidden;
    }
    .conteiner {
        width: 75vw;
    }
}

@media (max-width: 431px) {
    .index_nav ul li a {
        visibility: hidden;
    }
    .commercial_text {
        visibility: hidden;
    }
    .left_colmn {
        visibility: hidden;
        position: absolute;
    }
    .post_text {
        font-size: 0.56rem;
    }

    .post_card_about_text h4 {
        font-size: 0.68rem;
    }

    .user_icon {
        width: 24px;
        height: 24px;
    }
    .posts {
        grid-template-columns: repeat(1, 1fr);
    }
    .post_card_about_text p {
        font-size: 0.65rem;
    }

    .post_title {
        font-size: 0.89rem;
    }

    .post_card {
        width: 88vw;
    }

    header {
        height: 76px;
    }

    .search_input {
        visibility: hidden;
    }
    .conteiner {
        width: 75vw;
    }
}

@media (max-width: 350px) {
    .logo {
        font-size: 1.0rem;
    }
}