<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{url_for('index')}}">DragoSearch</a>
        </div>
        <div class="header_utilities">
            <div class="header_search">
                <form class="search_form" action="/search" method="get">
                    <input class="search_input" type="text" name="query" placeholder="Найти в DragoSearch">
                    <button type="submit"></button>
                </form>
            </div>
            <div class="header_user_icon horisontal">
                {% if current_user.is_authenticated %}
                    {% if current_user.avatar_is_file is false and current_user.avatar is not none %}
                        <a href="{{ url_for('user_settings') }}"><img class="user_icon" src="https://avatars.yandex.net/get-yapic/{{current_user.avatar}}/islands-small" alt="Иконка пользователя"></a>
                    {% elif current_user.avatar_is_file and current_user.avatar is not none %}
                        <a href="{{ url_for('user_settings') }}"><img class="user_icon" src="{{ url_for('static', filename='img/avatars/' + current_user.avatar) }}" alt="Иконка пользователя"></a>
                    {% else %}
                        <a href="{{ url_for('user_settings') }}"><div class="user_icon" style="background-color: rgb(193, 193, 193);"></div></a>
                    {% endif %}
                {% else %}
                    <a href="{{ url_for('login') }}"><div class="user_icon" style="background-color: rgb(193, 193, 193);"></div></a>
                {% endif %}
            </div>
        </div>
        {% if not current_user.is_authenticated %}
        <script>
                YaAuthSuggest.init(
              {
                 client_id: 'e0fd35f9d8dd4371a33bb5a6085c689e',
                 response_type: 'token',
                 redirect_uri: 'https://profuse-lateral-aftermath.glitch.me/login/authorized'
              },
              'https://profuse-lateral-aftermath.glitch.me'
           )
           .then(({
              handler
           }) => handler())
           .then(data => console.log('Сообщение с токеном', data))
           .catch(error => console.log('Обработка ошибки', error));
        </script>
        {% endif %}
    </header>
    <main>
        <section class="left_colmn">
            <nav class="index_nav">
                <ul>
                    <li class="select"><img src="../static/img/home.svg" alt="Главная"><a href="">Главная</a></li>
                    <li><img src="../static/img/subscribes.svg" alt="Подписки"><a href="">Подписки</a></li>
                    <li><img src="../static/img/explore.svg" alt="Темы"><a href="">Темы</a></li>
                    <li><img src="../static/img/bookmark.svg" alt="Закладки"><a href="">Закладки</a></li>
                </ul>
            </nav>
            <p class="commercial_text">©DragoSearch 2024</p>
        </section>
        <section class="right_colmn">
            {% block content %}{% endblock %}
        </section>
    </main>
    <script src="../static/js/windows.js"></script>
</body>
</html>