<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="">DragoSearch</a>
        </div>
        <div class="header_utilities">
            <div class="header_search">
                <form class="search_form" action="/search" method="get">
                    <input class="search_input" type="text" name="query" placeholder="Найти в DragoSearch">
                    <button type="submit"></button>
                </form>
            </div>
            <div class="header_user_icon">
                {% if current_user.is_authenticated %}
                    <a><img class="user_icon" src="../static/img/avatar-demo.jpg" alt="Иконка пользователя"></a>
                {% else %}
                    <a href="{{ url_for('login') }}"><div class="user_icon" style="background-color: rgb(193, 193, 193);"></div></a>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        <section class="left_colmn">
            <nav class="index_nav">
                <ul>
                    <li class="select"><img src="../static/img/home.svg" alt="Главная"><a href="">Главная</a></li>
                    <li><img src="../static/img/subscribes.svg" alt="Подписки"><a href="">Подписки</a></li>
                    <li><img src="../static/img/explore.svg" alt="Темы"><a href="">Темы</a></li>
                    <li><img src="../static/img/bookmark.svg" alt="Закладки"><a href="">Закладки</a></li>
                </ul>
            </nav>
            <p class="commercial_text">©DragoSearch 2024</p>
        </section>
        <section class="right_colmn">
            {% block content %}{% endblock %}
        </section>
    </main>
    <script src="../static/js/windows.js"></script>
</body>
</html>