<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход | Регистрация</title>
    <link rel="stylesheet" href="../static/css/reg2.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="message_container">
        <h1>Подвердите почту</h1>
        <p>Мы отправили на почту {{email}} ссылку для подтверждения.</p>
    </div>
    <script src="../static/js/login-script.js"></script>
</body>

</html>