{% extends 'base.html' %}

{% block content %}
    <h1>Ошибка 404</h1>
    <h2>Как вы здесь оказались?</h2>
    <p>Похоже, что страница на которую вы пытаетесь перейти не существует или была удалена.</p>
    <p>Вы можете перейти на главную страницу или посмотреть на танцующего дракончика.</p>
    <video width="400" height="400" autoplay loop controls muted class="video">
      <source src="{{url_for('static', filename='video/drago_dance.mp4')}}" type="video/mp4">
      Ваш браузер не поддерживает тег video.
    </video>
{% endblock %}
