<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход | Регистрация</title>
    <link rel="stylesheet" href="../static/css/reg2.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container_fogot" id="container">
        <form action="" class="fogot" method="post">
                {{ form_fog_password.hidden_tag() }}

                <h1>Восстановление пароля</h1>
                {% if message_fog_password %}
                    <div class="error_message">{{message_fog_password}}</div>
                {% endif %}
                {{ form_fog_password.email(type="email", placeholder="Почта")}}
                {% for error in form_fog_password.email.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
                {{ form_fog_password.submit }}
            </form>
        </div>
    <script src="../static/js/login-script.js"></script>
</body>

</html>