<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход | Регистрация</title>
    <link rel="stylesheet" href="../static/css/reg2.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="#" method="post">
                {{ form_sing_up.hidden_tag() }}

                <h1>Создать аккаунт</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class='bx bxl-google'></i></a>
                    <a href="#" class="icon"><i class='bx bxl-github'></i></a>
                </div>
                <samp>или используй почту для регистрации</samp>
                {{ form_sing_up.name(type="text", placeholder="Имя") }}
                {{ form_sing_up.email(type="email", placeholder="Почта")}}
                {{ form_sing_up.password(type="password", placeholder="Пароль") }}
                <button name="submit" type="submit">Регистрация</button>
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="#" method="post">
                {{ form_sing_in.hidden_tag() }}
                <h1>Войти</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class='bx bxl-google'></i></a>
                    <a href="#" class="icon"><i class='bx bxl-github'></i></a>
                </div>
                <samp>или используй почту и пароль</samp>
                {{ form_sing_in.email(type="email", placeholder="Почта") }}
                {{ form_sing_in.password(type="password", placeholder="Пароль") }}
                <a href="#" class="fp">Забыли пароль?</a>
                <button name="submit" type="submit">Войти</button>
                <a href="{{ url_for('sing_up_mobile') }}" class="fp for-mobile">Или зарегистрируйтесь.</a>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Добро пожаловать!</h1>
                    <p>Начните пользоваться DragoSearch</p>
                    <button class="hidden" id="login">Войти</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Привет, Друг!</h1>
                    <p>Рады снова тебя видеть!</p>
                    <button class="hidden" id="register">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/login-script.js"></script>
</body>

</html>