<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход | Регистрация</title>
    <link rel="stylesheet" href="../static/css/reg2.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up">
            <form action="#" method="post">
                {{ form_sing_up.hidden_tag() }}

                <h1>Создать аккаунт</h1>
                <samp>или используй почту для регистрации</samp>
                {% if message_sing_up %}
                    <div class="error_message">{{message_sing_up}}</div>
                {% endif %}
                {{ form_sing_up.name(type="text", placeholder="Имя") }}
                {% for error in form_sing_up.name.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
                {{ form_sing_up.email(type="email", placeholder="Почта")}}
                {% for error in form_sing_up.email.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
                {{ form_sing_up.password(type="password", placeholder="Пароль") }}
                {% for error in form_sing_up.password.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
                {{ form_sing_up.submit_sing_up }}
            </form>
        </div>
        <div class="form-container sign-in">
            <form action="#" method="post">
                {{ form_sing_in.hidden_tag() }}
                <h1>Войти</h1>
                <div class="social-icons">
                    <a href="https://oauth.yandex.ru/authorize?response_type=code&client_id=e0fd35f9d8dd4371a33bb5a6085c689e" class="icon"><svg width='24' height='24' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='44' height='44' fill='#FC3F1D'/><path d='M24.7407 33.9778H29.0889V9.04443H22.7592C16.3929 9.04443 13.0538 12.303 13.0538 17.1176C13.0538 21.2731 15.2187 23.6163 19.0532 26.1609L21.3832 27.6987L18.3927 25.1907L12.4667 33.9778H17.1818L23.5115 24.5317L21.3098 23.0671C18.6496 21.2731 17.3469 19.8818 17.3469 16.8613C17.3469 14.2068 19.2183 12.4128 22.7776 12.4128H24.7223V33.9778H24.7407Z' fill='white'/></svg></i></a>
                </div>
                <samp>или используй почту и пароль</samp>
                {% if message_login %}
                    <div class="error_message">{{message_login}}</div>
                {% endif %}
                {{ form_sing_in.email(type="email", placeholder="Почта") }}
                {% for error in form_sing_in.email.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
                {{ form_sing_in.password(type="password", placeholder="Пароль") }}
                {% for error in form_sing_in.password.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
                <a href="#" class="fp">Забыли пароль?</a>
                {{ form_sing_in.submit_login }}
                <a href="{{ url_for('sing_up_mobile') }}" class="fp for-mobile">Или зарегистрируйтесь.</a>
            </form>
        </div>
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Добро пожаловать!</h1>
                    <p>Начните пользоваться DragoSearch</p>
                    <button class="hidden" id="login">Войти</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Привет, Друг!</h1>
                    <p>Рады снова тебя видеть!</p>
                    <button class="hidden" id="register">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/login-script.js"></script>
</body>

</html>